HELP.md
# Comentei as 4 linhas abaixo para que o diretório target não seja ignorado nos commits e push de modo que o Jenkins tenha acesso a ele.
# target/
# !.mvn/wrapper/maven-wrapper.jar
# !**/src/main/**/target/
# !**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
